<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>VWAProjectSem5</display-name>
  <context-param>
    <param-name>id1</param-name>
    <param-value>P.Mgr.1</param-value>
  </context-param>
  <context-param>
    <param-name>id2</param-name>
    <param-value>P.Mgr.2</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StatusServlet</display-name>
    <servlet-name>StatusServlet</servlet-name>
    <servlet-class>StatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatusServlet</servlet-name>
    <url-pattern>/status.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>ProjectServletContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <servlet-name>UserData</servlet-name>
    <servlet-class>UserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserData</servlet-name>
    <url-pattern>/user.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NegotiationServlet</display-name>
    <servlet-name>NegotiationServlet</servlet-name>
    <servlet-class>NegotiationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NegotiationServlet</servlet-name>
    <url-pattern>/negotiate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/image.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetServlet</display-name>
    <servlet-name>ResetServlet</servlet-name>
    <servlet-class>ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetServlet</servlet-name>
    <url-pattern>/reset.do</url-pattern>
  </servlet-mapping>
</web-app>